body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

.pinkOnes {
  color: #FF69B4;
  padding-right: 2rem;
}
